{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Builder</title>
    <link rel="stylesheet" href="{% static 'css/builder.css' %}">
</head>

<body>

<div class="top1">
    <h1>B_Y_P Builder</h1>
    <p>Type: {{ usecase }}</p>
</div>

<div class="wrap1">

    <!-- LEFT SIDE -->
    <div class="boxL">

        <div class="grid2">

            <div class="boxC" onclick="showCat('cpu')">CPU</div>
            <div class="boxC" onclick="showCat('gpu')">GPU</div>
            <div class="boxC" onclick="showCat('ram')">RAM</div>
            <div class="boxC" onclick="showCat('storage')">Storage</div>
            <div class="boxC" onclick="showCat('motherboard')">Motherboard</div>
            <div class="boxC" onclick="showCat('psu')">PSU</div>
            <div class="boxC" onclick="showCat('case')">Case</div>
            <div class="boxC" onclick="showCat('cooling')">Cooling</div>

        </div>

        <div class="grid3">

            {% for c in components %}
            
            <div class="boxP" data-type="{{ c.category }}">

                <h3>{{ c.title }}</h3>
                <p>₹{{ c.price }}</p>

                <button class="btn1"
                    onclick="addItem(
                                    '{{ c.category }}',
                                    '{{ c.title }}',
                                    '{{ c.price }}',
                                    '{{ c.power_draw }}',
                                    '{{ c.socket_type }}'
                                    )">
                        ADD
                    
                    </button>

            </div>
            {% endfor %}

        </div>

    </div>


    <!-- RIGHT SIDE -->
     <div class="boxR">

    <h3>Your Build</h3>

    <p>CPU: <span id="cpu">-</span></p>
    <p>GPU: <span id="gpu">-</span></p>
    <p>RAM: <span id="ram">-</span></p>
    <p>Storage: <span id="storage">-</span></p>
    <p>Motherboard: <span id="motherboard">-</span></p>
    <p>PSU: <span id="psu">-</span></p>
    <p>Case: <span id="case">-</span></p>
    <p>Cooling: <span id="cooling">-</span></p>

    <hr>

    <p>Total: ₹<span id="total">0</span></p>
    <p>Power: <span id="power">0</span> W</p>

    <button class="btn1" onclick="saveBuild()">Save Build</button>

</div>

<script src="{% static 'js/builder.js' %}"></script>
</body>
</html>