{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Builder</title>
    <link rel="stylesheet" href="{% static 'css/builder.css' %}">
</head>

<body>

<div class="top1">
    <h1>B_Y_P Builder</h1>
    <p>Type: {{ usecase }}</p>
</div>

<div class="wrap1">

    <!-- LEFT SIDE -->
    <div class="boxL">

        <div class="grid2">

            <div class="boxC">CPU</div>
            <div class="boxC">GPU</div>
            <div class="boxC">RAM</div>
            <div class="boxC">Storage</div>
            <div class="boxC">Motherboard</div>
            <div class="boxC">PSU</div>
            <div class="boxC">Case</div>
            <div class="boxC">Cooling</div>

        </div>

        <div class="grid3">

            {% for c in components %}
            <p>TEST</p>
            <div class="boxP">

                <h3>{{ c.title }}</h3>
                <p>₹{{ c.price }}</p>

                <button class="btn1"
                    onclick="addItem('{{ c.category }}','{{ c.title }}','{{ c.price }}')">
                        Add
                    </button>

            </div>
            {% endfor %}

        </div>

    </div>


    <!-- RIGHT SIDE -->
     <button class="btn1" onclick="saveBuild()">Save Build</button>
    <div class="boxR">

        <h3>Your Build</h3>

        <p>CPU: <span id="cpu">-</span></p>
        <p>GPU: <span id="gpu">-</span></p>
        <p>RAM: <span id="ram">-</span></p>
        <p>Storage: <span id="storage">-</span></p>
        <p>Motherboard: <span id="motherboard">-</span></p>
        <p>PSU: <span id="psu">-</span></p>
        <p>Case: <span id="case">-</span></p>

        <p>Cooling: <span id="cooling">-</span></p>

<hr>

<p>Total: ₹<span id="total">0</span></p>

        <hr>

        <p>Total: ₹0</p>

    </div>

</div>
<script src="{% static 'js/builder.js' %}"></script>
</body>
</html>